.idea
.project
.DS_Store
*.sublime*
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.swp
*.swo
node_modules
dist
*xunit.xml
intl/MSG.json
intl/de/*
intl/es/*
intl/fr/*
intl/it/*
intl/ja/*
intl/ko/*
intl/pt/*
intl/ru/*
intl/zh-Hans/*
intl/zh-Hant/*
intl/zz/*