<h1>{{Thank You | globalize}}</h1>

<p>
  {{Thanks for registering. Please follow the link below to complete your registration. | globalize}}
</p>

<p>
  <a href="<%= verifyHref %>"><%= verifyHref %></a>
</p>